<div class="navbar navbar-inner navbar-fixed-top">
    <div class="row">
        <div class="col-md-1 col-md-offset-10" style="margin-top: 5px;">
            <div class="dropdown">
                <img src="../../uploads/avatars/av4.jpg" alt="..." data-toggle="dropdown" class="img-circle" style="width: 40px; height: 40px;">
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li>My Profile</li>
                    <li>My Galleries</li>
                    <li>My Pictures</li>
                    <li>Logout</li>
                </ul>
            </div>
        </div>
        <div class="col-md-1" style="margin-top: 10px">
            <span (click)="showUploader($event)" class="glyphicon glyphicon-cloud-upload" style="font-size: 25px; color: #027FF4"></span>
        </div>
    </div>
    <div class="row" *ngIf="_openUploader">
    <div class="col-md-3" style="margin-left: 3%">
        <h3>Select files</h3>
        <div ng2FileDrop
        [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
        (fileOver)="fileOverBase($event)"
        [uploader]="uploader"
        class="well drop-zone">
        Drag & drop files here
    </div>
    Or
    <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>
</div>
<div class="col-md-8" style="margin-bottom: 40px">
    <h3>Upload queue</h3>
    <p>Queue length: </p>
    <table class="table">
        <thead>
        <tr>
            <th width="50%">Name</th>
            <th>Size</th>
            <th>Progress</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of uploader.queue; let i = index">
        <td>
            <input type="text" (input)="item.file.newName=$event.target.value" [value]="item.file.name | safeFileExt" class="form-control">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                       <!-- <select class="selectpicker form-control" multiple data-header="Select tags">
                            <option *ngFor="let tag of tags" [ngValue]="tag.id">{{ tag.name }}</option>
                        </select>-->
                        <div style="width: 300px; margin-bottom: 0">
                            <ng-select [data]="value"
                            [multiple]="true"
                            [items]="tags"
                            [disabled]="disabled"
                            (data)="refreshValue($event)"
                            (selected)="selected($event, uploader.queue[i])"
                            (removed)="removed($event)"
                            placeholder="Select tags"></ng-select>
                           <!--<pre>{{itemsToString(value)}}</pre>-->
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td>{{ item.file.size | fileSize }}</td>
        <td>
            <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
</div>
</td>
<td class="text-center">
    <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
    <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
    <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
</td>
<td nowrap>
    <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
    <span class="glyphicon glyphicon-upload"></span> Upload
    </button>
    <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
    </button>
    <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
    <span class="glyphicon glyphicon-trash"></span> Remove
    </button>
</td>
</tr>
</tbody>
</table>
<div>
    <div>
        Queue progress:
        <div class="progress">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
    </div>
</div>
<div>
    <button type="button" class="btn btn-success btn-s"
    (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
    <span class="glyphicon glyphicon-upload"></span> Upload all
    </button>
    <button type="button" class="btn btn-warning btn-s"
    (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
    </button>
    <button type="button" class="btn btn-danger btn-s"
    (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
    <span class="glyphicon glyphicon-trash"></span> Remove all
    </button>
</div>
<div style="margin-top: 10px" class="block-success-message" [hidden]="!uploader.showSuccessMessage">
<div class="alert alert-success" role="alert">All pictures are uploaded!</div>
</div>
</div>
</div>
</div>

<div class="row">
    <div class="col-md-12" style="">

    </div>
</div>

</div>