.drop-zone {
    border: dotted 3px lightgray;
    height: 200px ;
}

.nv-file-over {
    border: dotted 3px red;
}

.another-file-over-class {
    border: dotted 3px green;
}

.round {
    width: 40px;
    height: 40px;
}
