<link rel="stylesheet" type="text/css" href="../../node_modules/angular2-image-popup/directives/angular2-image-popup/css/style.css">
<link rel="stylesheet" type="text/css" href="../../node_modules/font-awesome/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="../../node_modules/angular2-image-popup/app/assets/css/main.css">
<div class="jumbotron center-block friends" style="width: 70%; float: left;">
    <h1></h1>
    <p><a class="btn btn-primary btn-lg" role="button" (click)="getFriendsPictures()">test</a></p>
    <div class="following-feeds">
        <div class="row" *ngFor="let picture of pictures">
            <div class="col-md-8 col-md-offset-2">
                <div class="thumbnail">
                    <img src="../../uploads/pictures/{{ picture.filename }}" alt="user_picture" (click)="openPopup(picture)">
                    <div class="caption">
                        <h3>{{ picture.name }}</h3>
                        <p [ngSwitch]="picture.days_ago">
                            <span *ngSwitchCase = "'0'">today</span>
                            <span *ngSwitchDefault>{{ picture.days_ago }} d. ago</span>
                        </p>
                        <p>
                            <img src="../../uploads/avatars/{{ picture.user_avatar }}" alt="..." class="img-circle" style="width: 40px; height: 40px;">
                            <span><a href="#">{{ picture.user_login }}</a></span>
                        </p>
                        <p>
                            <button type="button" (click)="openPopupAddComment(picture)" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true">&nbsp;Comment</span></button>
                            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true">&nbsp;Add</span></button>
                            <button type="button" [ngClass]="{ 'picture-liked': picture.is_liked == '1' }" class="btn btn-default" (click)="likePicture($event, picture)">
                                <span class="badge">{{ picture.cnt_like }}</span>
                                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="right-sidebar" style="width: 30%; float: right;">
    <div class="row">
        <div class="col-md-12 col-md-offset-1">
            <div class="jumbotron">
                <p style="text-align: center">You can follow</p>
                <div class="row" *ngFor="let user of users">
                    <div>
                        <p>
                            <img src="../../uploads/avatars/{{ user.avatar }}" alt="user_avatar" class="img-circle" style="width: 40px; height: 40px;">
                            <span><a href="#">{{ user.login }}</a></span>
                            <a href="#" class="btn btn-default" role="button" (click)="followUser($event, user.id)">Follow</a><br>
                            <span>{{ user.pictures.length }} photos</span>
                        </p>
                        <div class="media">
                            <div class="media-left">
                                <a href="#" *ngFor="let picture of user.pictures">
                                    <img class="img-thumbnail" src="../../uploads/pictures/{{ picture }}" alt="..." style="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="_openModalWindow" class="modal <!--fade-->" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog" data-dismiss="modal">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" (click)="closePopup()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="row no-margin">
                    <div class="col-xs-9">
                        <img src="../../uploads/pictures/{{ _selectedPicture.filename }}" class="imagepreview" style="width: 100%;" alt="selected_picture">
                    </div>
                    <div class="col-xs-3">
                        <div class="jumbotron">
                            <p>
                                <img src="../../uploads/avatars/{{ _selectedPicture.user_avatar }}" alt="user_avatar" class="img-circle" style="width: 40px; height: 40px;">
                                <a href="#">{{ _selectedPicture.user_login }}</a>
                            </p>
                            <p>
                                <a href="#" class="btn btn-default" role="button" (click)="followUser($event, user.id)">Follow</a>
                            </p>
                            <p>
                                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true">&nbsp;Add</span></button>
                                <button type="button" [ngClass]="{ 'picture-liked': _selectedPicture.is_liked == '1' }" class="btn btn-default" (click)="likePicture($event, _selectedPicture)">
                                    <span class="badge">{{ _selectedPicture.cnt_like }}</span>
                                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                </button>
                            </p>
                            <p>
                                <input type="text" placeholder="Add comment" [focus]="_setFocusCommentInput" size="17" class="form-control" #elInputComment (keyup.enter)="addComment(_selectedPicture, elInputComment)">
                            </p>
                            <div class="" *ngFor="let comment of comments">
                                <img src="../../uploads/avatars/{{ comment.user_avatar }}" alt="user_avatar" class="img-circle" style="width: 40px; height: 40px;">
                                <a href="#">{{ comment.user_login }}</a>
                                <p>
                                    <span>{{ comment.comment }}</span><br>
                                    <span  style="font-size: 15px" [ngSwitch]="comment.days_ago">
                                        <span *ngSwitchCase = "'0'">today</span>
                                        <span *ngSwitchDefault>{{ comment.days_ago }} d. ago</span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-xs-12">
                    <p class="text-left"><span class="label label-primary">Primary</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .modal-content {
        height: auto;
        min-height: 100%;
        border-radius: 0;
    }
    #imagemodal {
        display: block;
    }
    .following-feeds .thumbnail img:hover {
        cursor: zoom-in;
    }
    .following-feeds .badge, .modal .badge {
        background-color: red
    }
    .following-feeds .glyphicon-heart, .modal .glyphicon-heart {
        color: red
    }
    .picture-liked .badge {
        background-color: #333
    }
    .picture-liked .glyphicon-heart {
        color: #333
    }
    .jumbotron {
        padding-left: 15px;
        padding-right: 15px;
    }
</style>