<div class="login">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Login Form</h3>
        </header>
        <br />
        <div class="navbar">
        </div>
        <div class="container">
            <div class="alert alert-danger" [hidden]="_hideError">Incorrect email or password</div>
            <form (ngSubmit)="onSubmit()" class="login-form">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" name="email" [(ngModel)]="user.email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" id="password" name="password" [(ngModel)]="user.password" required>
                </div>
                <button class="btn btn-default" (click)="onSignIn($event)">Sigh in</button>&nbsp;&nbsp;
                <button type="submit" class="btn btn-success" (click)="onSignUp($event)">Sign up</button>
            </form>
        </div>
    </div>
</div>

