<div class="signup center-block jumbotron">
    <h1>Signup</h1>
    <alert *ngIf="successAlert.is_show" [type]="successAlert.type">
        {{ successAlert.msg }}
    </alert>
    <alert *ngIf="dangerAlert.is_show" [type]="dangerAlert.type">
        {{ dangerAlert.msg }}
    </alert>
    <form role="form" (submit)="signup($event, email.value, password.value)">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" #email id="email" placeholder="Email" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" #password id="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <a [routerLink]="['/login']">Click here to Login</a>
    </form>
</div>