.panel-profile-img {
    width: 100px;
    height: 100px;
    margin-top: -70px;
    margin-bottom: 5px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.panel-profile .panel-heading {
    height: 500px;
    background-size: cover;
}

.panel-title {
    font-size: 25px;
}