<div class="jumbotron center-block user" style="padding: 0">
    <h1></h1>
    <header (emitResponse)='onEmitter()'></header>
    <div class="row">
        <!-- <input type="button" (click)="getUserPictures(6)" value="PIY">-->
        <div class="col-md-12">
            <div class="row panel panel-default panel-profile m-b-0">
                <div class="panel-heading" [style.background-image]="user?.page_photo | safeBg"></div>
                <div class="panel-body text-center">
                    <img *ngIf="user?.avatar" class="panel-profile-img" src="../../uploads/avatars/{{ user?.avatar }}">
                    <h5 class="panel-title">{{ user?.login }}</h5>
                    <p class="m-b">{{ user?.info }}</p>
                </div>
                <div class="row">
                    <div class=".col-md-6"></div>
                    <div class=".col-md-6 col-md-offset-5">
                        <ul class="nav nav-tabs centered">
                            <li class="active"><a href="#">Pictures <span class="sr-only"></span></a></li>
                            <li class=""><a href="#">Galleries <span class="sr-only"></span></a></li>
                            <li class=""><a href="#">Info <span class="sr-only"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="" style="position: relative">
                <div id="main" role="main" style="height: 1200px;">
                    <ul id="tiles" class="unstyled" style="list-style-type:none">
                        <li *ngFor="let picture of pictures" style="display: list-item;">
                            <div class="view view-first hovereffect">
                                <img width="{{ picture.resize_width }}" height="{{ picture.resize_height }}" src="../../uploads/pictures/resized/{{ picture.filename }}" class="attachment-hp-thumb wp-post-image" alt="">
                                <div class="overlay">
                                    <h2>{{ picture.name }}</h2>
                                    <span class="info glyphicon glyphicon-heart" aria-hidden="true"></span>
                                    <span data-toggle="dropdown" aria-haspopup="true" class="info glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                                        <li>
                                            <div class="input-group">
                                                <input type="text" #elInputGallery (keyup.enter)="addUserGallery($event, elInputGallery, picture)" class="form-control" placeholder="Album name">
                                                <div class="input-group-addon">
                                                    <a href="#" (click)="addUserGallery($event, elInputGallery, picture)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li *ngFor="let gallery of galleries">
                                            <span *ngFor="let picture_id of gallery.picture_ids">
                                                <span *ngIf="picture_id == picture.picture_id" class="glyphicon glyphicon-ok"></span>
                                            </span>
                                            <a href="#" (click)="addPictureToGallery($event, picture, gallery)">{{ gallery.name }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="dropdown">
                    <button class="btn btn-default" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true">&nbsp;Add</span>
                        <span class="caret"></span>
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>
<!--
<p>        http://valor-software.com/ng2-file-upload/
npm install bootstrap-select
npm i ng2-select --save
npm i ng2-bootstrap --save
</p>-->
<script>
    $('.dropdown-toggle').dropdown();
</script>