<div class="home jumbotron center-block">
    <h1>Welcome!</h1>
    <!-- <h2 *ngIf="jwt">Your JWT is:</h2>
     <pre *ngIf="jwt" class="jwt"><code>{{ jwt }}</code></pre>
     <pre *ngIf="jwt" class="jwt"><code>{{ decodedJwt | json }}</code></pre>
     <p>Click any of the buttons to call an API and get a response</p>
     <p><a class="btn btn-primary btn-lg" role="button" (click)="callAnonymousApi()">Call Anonymous API</a></p>
     <p><a class="btn btn-primary btn-lg" role="button" (click)="callSecuredApi()">Call Secure API</a></p>
     <p><a class="btn btn-primary btn-lg" role="button" (click)="logout()">Logout</a></p>
     <h2 *ngIf="response">The response of calling the <span class="red">{{ api }}</span> API is:</h2>
     <h3 *ngIf="response">{{ response }}</h3>-->
    <div>
        <p><a class="btn btn-primary btn-lg" role="button" (click)="getAllUserPictures()">test</a></p>
        <p><a class="btn btn-primary btn-lg" role="button" (click)="logout()">Logout</a></p>
        <ul class="nav nav-tabs centered">
            <li class="active"><a [routerLink]="['/friends']">Friends <span class="sr-only"></span></a></li>
            <li class=""><a href="#">Activity <span class="sr-only"></span></a></li>
            <li class=""><a href="#">Profile <span class="sr-only"></span></a></li>
        </ul>
    </div>
</div>
